@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@import-json '../data/sizes.json';
	@apply bg-red-800 sm:bg-neutral-100 text-neutral-900;
	font-size: 16px; /* base font-size */
	min-width: var(--sm);
	-webkit-font-smoothing: antialiased;
	font-smooth: auto;
	font-synthesis: style;
	text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {
	:root {
		@apply bg-neutral-900 text-neutral-100;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
