@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@import-json '../data/sizes.json';
	@apply sm:bg-neutral-100 text-neutral-900;
	font-size: 16px; /* base font-size */
	min-width: var(--sm);
	-webkit-font-smoothing: antialiased;
	font-smooth: auto;
	font-synthesis: style;
	text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {
	:root {
		@apply bg-neutral-900 text-neutral-100;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.stack {
	display: grid;
	place-content: center;

	> * {
		grid-area: 1 / 1;
	}
}

.above-4k-style {
	@apply 4k:mx-auto 4k:w-[2000px];
}
