@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply bg-neutral-100 text-neutral-900;
	font-size: 16px; /* base font-size */
	-webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
	:root {
		@apply bg-neutral-900 text-neutral-100;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
