.button-bg-glow {
	background: linear-gradient(91.83deg, red 2.26%, pink 95.81%);
	width: 80%;
	height: 80%;
	position: absolute;
	z-index: -20;
	opacity: 0.4;
	animation: 2.7s ease-in-out 0s infinite normal both running kuj;
}

.button-bg-red {
	background: linear-gradient(91.83deg, red 2.26%, pink 95.81%);
}

.button-bg-blue {
	background: linear-gradient(91.83deg, blue 2.26%, lightblue 95.81%);
}
@keyframes kuj {
	0% {
		transform: rotate(0deg);
		filter: blur(8px);
	}
	33% {
		transform: rotate(0deg);
		filter: blur(10px);
	}
	66% {
		transform: rotate(0deg);
		filter: blur(14px);
	}
	100% {
		transform: rotate(-0.3deg) scale(1.03);
		filter: blur(8px);
	}
}
